            <div class="col-6">
            <form class="signUp">
                <div class="mb-3">
                  <label for="exampleInputUsername1" class="form-label">Username</label>
                  <input type="username" class="form-control" id="userUsername" aria-describedby="UsernameHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="userPassword">
                  <div id="emailHelp" class="form-text">Use at least 8 characters</div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            </div>
            <div class="col-6 benefits">
                <h3>Benefits of signing up</h3>
                <ul>
                    <li>Completely Free</li>
                    <li>Post your own recipies</li>
                    <li>Find other's recipies and save them for easy access</li>
                    <li>Give and recieve feedback on recipies</li>
                </ul>
            </div>